@import 'leaflet/dist/leaflet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 min-h-screen font-sans;
  }
}

.leaflet-container {
  width: 100% !important;
  height: 100% !important;
  z-index: 1;
}

@keyframes dash {
  to {
    stroke-dashoffset: -1000;
  }
}
